.wholepage {
    width: 35%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.mainimg {
    width: 80%;
    margin-bottom: 50px;
}

.img_and_buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.img_and_buttons div {
    width: 80%;
    height: 50px;
    border: 2px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
}

.img_and_buttons a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: 100%;
    text-align: center;
}