.wholepage {
    width: 35%;
    height: 100vh;
    padding: 1%;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.loginbox {
    width: 80%;
    height: 40vh;
    border: 1px solid #000000;
    margin-top: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_input input {
    width: 90%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #dbdbdb;
}

.submit_button {
    width: 90%;
    margin-top: 15px;
}

.submit_button input {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.other {
    margin-top: 15px;
    display: flex;
    gap: 25px;
}

.other a {
    text-decoration: none;
    color: #0095f6;
    font-size: 14px;
}