.wholepage {
    width: 35%;
    margin: 0 auto;
    min-height: 100vh;
}

.banner_area {
    background-color: #576e86;
    color: white;
    padding: 20px;

}

main {
    padding: 20px;
}

#detail_content {
    padding: 15px;
    margin-top: 20px;
    white-space: pre-wrap;
}

.bottom_nav {
    position: fixed;
    bottom: 0;
    width: 35%;
    background: white;
    border-top: 1px solid #ddd;
}

.bottom_nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

.bottom_nav li {
    padding: 15px 0;
}

.bottom_nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}